LC_SESSION=your_leetcode_session_cookie_here
LC_CSRF=your_leetcode_csrf_token_here

CF_SESSION=your_codeforces_session_cookie_here
CF_HANDLE=your_codeforces_username

ANTHROPIC_API_KEY=sk-ant-...
ALERT_EMAIL_FROM=your@gmail.com
ALERT_EMAIL_TO=your@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password

CHROME_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
